{% extends "projbase.html.twig" %}

{% block title %}Api-sidan{% endblock %}

{% block body %}
<h1>JSON API</h1>

<div class="apidiv">

    <h2>Kolla på data </h2>

    <a href="{{ path('coverage_show') }}" class="api">Coverage</a> <br>

    <a href="{{ path('marine_show') }}" class="api">Marine</a><br>

    <a href="{{ path('sustainable_show') }}" class="api">Sustainable</a><br>

    <h2> Radera Data </h2>

    <a href="{{ path('coverage_delete_all') }}" class="api">Coverage</a> <br>

    <a href="{{ path('marine_delete_all') }}" class="api">Marine</a><br>

    <a href="{{ path('sustainable_delete_all') }}" class="api">Sustainable</a><br>

    <h2> Lägg till Data igen. </h2>

    <a href="{{ path('coverage_create') }}" class="api">Coverage</a> <br>

    <a href="{{ path('marine_protection_create') }}" class="api">Marine</a><br>

    <a href="{{ path('sustainable_create') }}" class="api">Sustainable</a><br>

</div>


{% endblock %}
